<div class="rl-recipe-list">
  <table mat-table [dataSource]="this.recipesTableDataSource">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell
          *matCellDef="let element"> {{element.description.length >= 50 ? element.description.substr(0, 50) + '...' : element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="accent" (click)="addNew()">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="startEdit(element.id, element.title, element.description)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteRecipe(element.id, element.title, element.description)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator color="accent" [pageSizeOptions]="[5, 10, 20, 50, 100]" pageSize="10"></mat-paginator>
</div>

