<div class="rl-ingredient-list">
  <table mat-table [dataSource]="this.ingredientsTableDataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="accent" (click)="addNew()">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="startEdit(element.id, element.name)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteRecipe(element.id, element.name)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator color="accent" [pageSizeOptions]="[5, 10, 20, 50, 100]" pageSize="10"></mat-paginator>
</div>
