<mat-toolbar color="primary" class="mat-elevation-z3">
  <a routerLink="/" mat-button>Recipes Library</a>
  <span class="example-fill-remaining-space"></span>
  <a routerLink="/recipe-list" mat-button>Recipes</a>
  <a routerLink="/ingredient-list" mat-button>Ingredients</a>
</mat-toolbar>
<router-outlet></router-outlet>
